@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400;1,700&family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  padding: 2rem 0;
}

h1 {
  color: cadetblue;
  font-size: xx-large;
  font-weight: 400;
  font-style: italic;
}

main,
header {
  /* max-width: 110rem; */
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 1rem 0;
}

.info-details {
  color: rgb(128, 0, 0);
  background-color: lightblue;
}

.footer {
  text-align: center;
  padding: 2rem;
  background: #444;
  color: #fff;
}

.Container {
  margin: auto;
  max-width: 900;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar {
  display: flex;
  flex-direction: row;
  background: #333;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  padding: 0 3.2rem;
  z-index: 2;
  /* background: #333;
  color: #fff;
  overflow: hidden; */
}

#navbar a {
  color: #fff;
  padding: 1.3rem 0.8rem;
  margin-right: 0.7rem;
  font-size: 2rem;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#navbar ul li a:hover,
#navbar ul li a.active {
  /* background: #6b6b6b; */
  /* color: #f7c08a; */
  border-bottom: #2196f3 solid 2px;
}

#navbar .logo {
  font-weight: 400;
}

/* #navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
} */

#main-image {
  background: url("/Bilar/About.jpg") center center/cover no-repeat;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  opacity: 0.9px;
  margin: 1px 1px;
}
#main-image h1 {
  color: red;
  font-weight: 700;
}

.article {
  color: #333;
  text-align: center;
  margin: 4rem;
}

.article p {
  max-width: 40rem;
  margin: auto;
  text-align: left;
}

.card {
  float: left;
  border: solid 1px #444;
  margin: 3rem;
  /* padding-bottom: 3000px; */
  padding: 2rem;
  max-width: 30rem;
  border-radius: 10px;
  height: 50rem;
}

.card img {
  width: 100%;
}

.card h4 {
  text-align: center;
  text-transform: uppercase;
}

.card p {
  text-align: center;
  margin-top: 2rem;
}
